@import "tailwindcss";

:root {
  --color-topbar: #3D0C0C;
  --color-navbar: #380101;
  --color-nav-text: #FFF9EC;
  --color-background: #FFFFFF;
  --color-foreground: #1A1A1A;
  --font-montserrat: var(--font-montserrat);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
  color: var(--color-foreground);
}